<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  
  <title>Google</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
<script src="/js/script.js"></script>
</head>
<body style="background: #fff">
  <div id="search">
    <input type="text" id="s-input"  autofocus>
    <div id="s-btn"><span></span></div>
  </div>

  
  <div id="content">
    <div id="result-info">Нашлось <%- cursor.estimatedResultCount %> страниц (за <%- cursor.searchResultTime %> секунд) </div>

    <% for (var i = 0, l = results.length; i < l; i++) { %>
      <div class="content-item">
        <h3><a href="<%- results[i].unescapedUrl %>"  target="blank"><%- results[i].title %></a></h3>
        <div class="content-item-link"><%- results[i].formattedUrl %></div>
        <div class="content-item-desc">
          <%- results[i].content %>
        </div>
      </div>
    <% } %>
    
    <div id="nav">
      <ul>
        <% if (cursor.currentPageIndex > 0) { %>
          <li class="nav-prev">
            <a href="/search?q=<%- q %>&start=<%- (cursor.currentPageIndex - 1) * 10 %>">
              <div class="nav-item-img"></div>
              <div>Предыдущая</div>
            </a>
          </li>
        <% } %>
        
        <% for (var i = 0, l = cursor.pages.length; i < l; i++) { %>
          <% if (i == cursor.currentPageIndex) { %>
            <li class="active">
          <% } else { %>
            <li>
          <% } %>
            <a href="/search?q=<%- q %>&start=<%- cursor.pages[i].start %>">
              <div class="nav-item-img"></div>
              <div><%- cursor.pages[i].label %></div>
            </a>
          </li>
        <% } %>

        <% if (cursor.currentPageIndex < 9) { %>
          <li class="nav-next">
            <a href="/search?q=<%- q %>&start=<%- (cursor.currentPageIndex + 1) * 10 %>">
              <div class="nav-item-img"></div>
              <div>Следующая</div>
            </a>
          </li>
        <% } %>  
      </ul>
    </div>
  </div>
  

  <script>
    var sInput = document.getElementById("s-input");
    var sBtn = document.getElementById("s-btn");
    sInput.onkeypress = function(ev) {
      if (13 == ev.keyCode) {
        sBtn.click();
        return false;
      }

    };
    sBtn.onclick = function() {
      window.location.href = '/search?q=' + sInput.value;
    };

    window.onload = function() {
      var para = location.search.substr(1);
      if (para.length > 0) {
        var arr = para.split(/[&=]/);
        for (var i = 0; i < arr.length; i += 2) {
          if ('q' == arr[i]) {
            sInput.value = decodeURIComponent(arr[i+1]);
            document.title = sInput.value + ' | Google';
            break;
          }
        }
      }
    }
  </script>

</body>
</html>
